<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32343690160-4s8vac0ldthg3dv83l0b6p4v2i8f5igu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32343690160-4s8vac0ldthg3dv83l0b6p4v2i8f5igu</string>
	<key>API_KEY</key>
	<string>AIzaSyAAnMtTLMEJMy8TicYe8WZ3_GzbfTbdrOw</string>
	<key>GCM_SENDER_ID</key>
	<string>32343690160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.airplane</string>
	<key>PROJECT_ID</key>
	<string>airplane-28fe3</string>
	<key>STORAGE_BUCKET</key>
	<string>airplane-28fe3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32343690160:ios:072c64736cd7823408e475</string>
</dict>
</plist>